<h1>新規投稿ページ</h1>

<%# <h1>新規投稿ページ</h1>

<form action="/main" method="post">
  <input type="text" name="content">
  <input type="submit" value="投稿する">
</form> %>

<%# ってやりたいとこだがhelpermethodを使う %>
<%#セキュリティー上%>

<%= form_with url: "/posts", method: :post, local: true do |form|%>
  <%# url: URL はリクエストを送信するパスを指定しています%>
  <%= form.text_field :content%>
  <%# テキストフィールドの後に記載されたのはキー%>
  <%# でparamsに格納されてる %>
  <%= form.submit'投稿する'%>
<%end%>